.taskBoxContainer {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 10%;
    height: 18vh;
    overflow-y: auto;
    display: flex; /* Flex-Layout verwenden */
    flex-direction: column;
}

.taskBoxContainer::-webkit-scrollbar {
    width: 12px;
}


.taskBoxContainer::-webkit-scrollbar-track {
    background: #414141;
    border-radius: 10px;
}

.taskBoxContainer::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 10px;
}

.taskBoxContainer::-webkit-scrollbar-thumb:hover {
    background: #5e5e5e;
}


.taskDescription {
    margin-bottom: 5px;
    color: white;
    display: flex;

}

.checkIcon, .hiddenIcon {
    color: green;
    padding-right: 5px;
}

.hiddenIcon {
    visibility: hidden;
}


.taskTable {
    margin-left: auto;
    margin-right: auto;
}
