.taskBoxContainer {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 15%;
    height: 18vh;
    overflow-y: auto;
    align-items: center; /* Zentriert den Inhalt horizontal */
    justify-content: center; /* Zentriert den Inhalt vertikal */
    padding-top: 10px;
}

.taskBoxContainer::-webkit-scrollbar {
    width: 12px;
}


.taskBoxContainer::-webkit-scrollbar-track {
    background: #414141;
    border-radius: 10px;
}

.taskBoxContainer::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 10px;
}

.taskBoxContainer::-webkit-scrollbar-thumb:hover {
    background: #5e5e5e;
}

.taskDescription_black {
    margin-bottom: 3px;
    color: white;
    display: flex;
    padding-bottom: 3px;
}


.taskDescription_white {
    margin-bottom: 5px;
    color: #000000;
    display: flex;
}

.checkIcon, .hiddenIcon {
    color: green;
    padding-right: 5px;
}

.hiddenIcon {
    visibility: hidden;
}

.taskTable {
    width: 100%; /* Füllt die gesamte Breite des Containers */
}