.exerciseTileContainer_black, .exerciseTileContainer_white {
    padding: 0;
    margin: 0 auto 20px;
    max-width: 600px;
    width: 100%;
    height: 450px;
    border-radius: 10px;
}

.exerciseTileContainer_black {
    background-color: #282828;

}

.exerciseTileContainer_white {
    background-color: #d0cfcf;

}

.exerciseHeadingUnderline_black {
    border-color: rgba(10, 10, 10, 0.65);
}

.exerciseHeadingUnderline_white {
    border-color: rgba(231, 230, 230, 0.65);
}

.descriptionContainer_white, .descriptionContainer_black {
    flex: 0 0 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 120px;
    overflow-y: auto;

}


.taskList {
    margin: 0;
}

.taskDescription {
    text-align: left;
    padding: 5px 0;
    border-bottom: 1px solid #5d5d5d;

}

.taskDescription:last-child {
    border-bottom: none;
}


.descriptionContainer_white, .roleContainer_white, .taskContainer_white {
    background-color: #c2c1c1;

}

.descriptionContainer_black, .roleContainer_black, .taskContainer_black {
    background-color: #343434;
}

.descriptionContainer_black::-webkit-scrollbar, .descriptionContainer_white::-webkit-scrollbar,
.roleContainer_white::-webkit-scrollbar, .roleContainer_black::-webkit-scrollbar,
.taskContainer_black::-webkit-scrollbar, .taskContainer_white::-webkit-scrollbar {
    width: 12px;
}


.descriptionContainer_black::-webkit-scrollbar-track, .descriptionContainer_white::-webkit-scrollbar-track,
.roleContainer_white::-webkit-scrollbar-track, .roleContainer_black::-webkit-scrollbar-track,
.taskContainer_black::-webkit-scrollbar-track, .taskContainer_white::-webkit-scrollbar-track {
    background: #414141;
    border-radius: 10px;
}

.descriptionContainer_black::-webkit-scrollbar-thumb, .descriptionContainer_white::-webkit-scrollbar-thumb,
.roleContainer_white::-webkit-scrollbar-thumb, .roleContainer_black::-webkit-scrollbar-thumb,
.taskContainer_black::-webkit-scrollbar-thumb, .taskContainer_white::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 10px;
}

.descriptionContainer_black::-webkit-scrollbar-thumb:hover, .descriptionContainer_white::-webkit-scrollbar-thumb:hover,
.roleContainer_white::-webkit-scrollbar-thumb:hover, .roleContainer_black::-webkit-scrollbar-thumb:hover,
.taskContainer_black::-webkit-scrollbar-thumb:hover, .taskContainer_white::-webkit-scrollbar-thumb:hover {
    background: #5e5e5e;
}

.roleContainer_black, .roleContainer_white,
.taskContainer_black, .taskContainer_white {
    flex: 0 0 calc(50% - 10px);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    overflow-y: auto;
}

.exerciseTileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative;
    margin-top: 20px;
}

.exerciseTileButton {
    padding-bottom: 15px;
    align-self: center;

}

.exerciseTileHeader h3 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
}

.contentHeader_white, .contentHeader_black {
    flex: 0 0 100%;
    display: flex;
    align-items: flex-start;
    padding: 5px;
    font-size: smaller;

}

.contentHeader_white {
    color: rgba(0, 0, 0, 0.45);

}

.contentHeader_black {
    color: rgba(255, 255, 255, 0.2);

}

.roleTable {
    width: 100%;
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}


.deleteButton {
    margin-left: auto;
    background-color: #a60505;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}


.deleteButton:hover {
    background-color: #730303;
}