.exerciseTileContainer_black, .exerciseTileContainer_white {
    padding: 0px;
    margin: 0 auto 20px;
    max-width: 600px;
    width: 100%;
    height: 460px;
    border-radius: 10px;
}

.exerciseTileContainer_black {
    background-color: #282828;

}

.exerciseTileContainer_white {
    background-color: #d0cfcf;

}

.exerciseHeadingUnderline_black {
    border-color: rgba(10, 10, 10, 0.65);
}

.exerciseHeadingUnderline_white {
    border-color: rgba(231, 230, 230, 0.65);
}

.descriptionContainer_white, .descriptionContainer_black {
    flex: 0 0 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    overflow-y: auto;

}

.descriptionContainer_white, .roleContainer_white, .taskContainer_white {
    background-color: #c2c1c1;

}

.descriptionContainer_black, .roleContainer_black, .taskContainer_black {
    background-color: #343434;
}

.roleContainer_black, .roleContainer_white,
.taskContainer_black, .taskContainer_white {
    flex: 0 0 calc(50% - 10px);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    overflow-y: auto;
}

.css.exerciseTileHeader {
    padding-top: 15px;

}

.exerciseTileButton {
    padding-bottom: 15px;
    align-self: center;

}


.contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
}

.contentHeader_white, .contentHeader_black {
    flex: 0 0 100%;
    display: flex;
    align-items: flex-start;
    padding: 5px;
    font-size: smaller;

}

.contentHeader_white {
    color: rgba(0, 0, 0, 0.45);

}

.contentHeader_black {
    color: rgba(255, 255, 255, 0.2);

}

.roleTable {
    width: 100%;
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;

}