.chatBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
}


.chatMessagePartner {
    justify-self: left; /* Links ausrichten für Nachrichten des Partners */

}

.chatMessageUser {
    justify-self: right; /* Rechtsausrichtung für Nachrichten des Benutzers */

}

.chatContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

.taskBox {
    position: fixed;
    bottom: 55px;
    left: 10px;
    width: 100%;
}

