.line {
    border-color: rgba(0, 0, 0, 0.55);

}

.image {
    border-radius: 10px;
    width: 600px;
    height: 400px;
    margin-top: 0px;
}

.headerText {
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0px;


}

.textContainer {
    max-width: 600px;
    margin: 0 auto;
    word-wrap: break-word;
    border-radius: 10px;
    align-self: center; /* Button am unteren Rand der Kachel positionieren */
    height: 110px;
}

.textImageContainer_black, .textImageContainer_white {
    border-radius: 10px;
    max-width: 950px;
    height: 630px;
    text-align: center;
    padding-bottom: 15px;
    margin: 10px auto 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.textImageContainer_black {
    background-color: #282828;

}

.textImageContainer_white {
    background-color: #d0cfcf;
}

.tileButton {
    align-self: center;

}

.tileHeaderLine {
    width: 99.8%;
    border-color: rgba(10, 10, 10, 0.65);
    top: 50%; /* Positionierung auf der vertikalen Mitte */
    left: 0; /* Ausrichtung ganz links */

}
